@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?g8drwx');
    src: url('../fonts/icomoon.eot?#iefixg8drwx') format('embedded-opentype'),url('../fonts/icomoon.woff?g8drwx') format('woff'),url('../fonts/icomoon.ttf?g8drwx') format('truetype'),url('../fonts/icomoon.svg?g8drwx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="icon-"],[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
        font-family:'icomoon';
        src: url('../fonts/icomoon.svg?g8drwx#icomoon') format('svg')
    }
}

.icon-tlchg,.icon-blog,.icon-home,.icon-prog,.icon-algo,.icon-contact,.icon-up {
    font-family: 'IcoMoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.icon-tlchg:before {
    content: "\e933"
}

.icon-blog:before {
    content: "\eaba"
}

.icon-home:before {
    content: "\e900"
}

.icon-prog:before {
    content: "\eaae"
}

.icon-algo:before {
    content: "\e994"
}

.icon-plan:before {
    content: "\e9c9"
}

.icon-up:before {
    content: "\ea32"
}

a,li {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.nav ul {
    max-width: 1240px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.0em;
    font-weight: 300
}

.nav li span {
    display: block
}

.nav a {
    display: block;
    color: rgba(249,249,249,.9);
    text-decoration: none;
    -webkit-transition: color .5s,background .5s,height .5s;
    -moz-transition: color .5s,background .5s,height .5s;
    -o-transition: color .5s,background .5s,height .5s;
    -ms-transition: color .5s,background .5s,height .5s;
    transition: color .5s,background .5s,height .5s
}

.nav i {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}

a,button {
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

.no-touch .nav ul:hover a {
    color: rgba(249,249,249,.5)
}

.no-touch .nav ul:hover a:hover {
    color: rgba(249,249,249,0.99)
}

.nav li:nth-child(6n+1) {
    background: #ffb700
}

.nav li:nth-child(6n+2) {
    background: #ffa239
}

.nav li:nth-child(6n+3) {
    background: #4d98b8
}

.nav li:nth-child(6n+4) {
    background: #172caf
}

.nav li:nth-child(6n+5) {
    background: #05587c
}

.nav li:nth-child(6n+6) {
    background: #034562
}

@media(min-width: 50em) {
    .nav li {
        float:left;
        width: 16.66666666666667%;
        text-align: center;
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s
    }

    .nav a {
        display: block;
        width: auto
    }

    .no-touch .nav li:nth-child(6n+1) a:hover,.no-touch .nav li:nth-child(6n+1) a:active,.no-touch .nav li:nth-child(6n+1) a:focus {
        border-bottom: 4px solid #ae4e01
    }

    .no-touch .nav li:nth-child(6n+2) a:hover,.no-touch .nav li:nth-child(6n+2) a:active,.no-touch .nav li:nth-child(6n+2) a:focus {
        border-bottom: 4px solid #bf7514
    }

    .no-touch .nav li:nth-child(6n+3) a:hover,.no-touch .nav li:nth-child(6n+3) a:active,.no-touch .nav li:nth-child(6n+3) a:focus {
        border-bottom: 4px solid #0c6e95
    }

    .no-touch .nav li:nth-child(6n+4) a:hover,.no-touch .nav li:nth-child(6n+4) a:active,.no-touch .nav li:nth-child(6n+4) a:focus {
        border-bottom: 4px solid #0a4b75
    }

    .no-touch .nav li:nth-child(6n+5) a:hover,.no-touch .nav li:nth-child(6n+5) a:active,.no-touch .nav li:nth-child(6n+5) a:focus {
        border-bottom: 4px solid #10222c
    }

    .no-touch .nav li:nth-child(6n+6) a:hover,.no-touch .nav li:nth-child(6n+6) a:active,.no-touch .nav li:nth-child(6n+6) a:focus {
        border-bottom: 4px solid #091219
    }

    .icon {
        padding-top: .2em
    }

    .icon+span {
        margin-top: .1em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s
    }

    .nav a {
        height: 5em
    }

    .no-touch .nav a:hover,.nav a:active,.nav a:focus {
        height: 6em
    }

    .no-touch .nav a:hover .icon+span {
        margin-top: 3.2em;
        -webkit-transition: margin .5s;
        -moz-transition: margin .5s;
        -o-transition: margin .5s;
        -ms-transition: margin .5s;
        transition: margin .5s
    }

    .nav i {
        position: relative;
        display: inline-block;
        margin: 0 auto;
        padding: .4em;
        border-radius: 50%;
        font-size: 1.8em;
        box-shadow: 0 0 0 30px transparent;
        background: rgba(255,255,255,0.1);
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: box-shadow .6s ease-in-out;
        -moz-transition: box-shadow .6s ease-in-out;
        -o-transition: box-shadow .6s ease-in-out;
        -ms-transition: box-shadow .6s ease-in-out;
        transition: box-shadow .6s ease-in-out
    }

    .no-touch .nav a:hover i,.no-touch .nav a:active i,.no-touch .nav a:focus i {
        box-shadow: 0 0 0 0 rgba(255,255,255,0.2);
        -webkit-transition: box-shadow .4s ease-in-out;
        -moz-transition: box-shadow .4s ease-in-out;
        -o-transition: box-shadow .4s ease-in-out;
        -ms-transition: box-shadow .4s ease-in-out;
        transition: box-shadow .4s ease-in-out
    }
}

@media(min-width: 50em) and (max-width:61.250em) {
    .nav ul {
        font-size:1.2em
    }
}

@media(max-width: 49.938em) {
    .no-touch .nav ul li:nth-child(6n+1) a:hover,.no-touch .nav ul li:nth-child(6n+1) a:active,.no-touch .nav ul li:nth-child(6n+1) a:focus {
        background:#e37714
    }

    .no-touch .nav li:nth-child(6n+2) a:hover,.no-touch .nav li:nth-child(6n+2) a:active,.no-touch .nav li:nth-child(6n+2) a:focus {
        background: #f5a029
    }

    .no-touch .nav li:nth-child(6n+3) a:hover,.no-touch .nav li:nth-child(6n+3) a:active,.no-touch .nav li:nth-child(6n+3) a:focus {
        background: #2ca8db
    }

    .no-touch .nav li:nth-child(6n+4) a:hover,.no-touch .nav li:nth-child(6n+4) a:active,.no-touch .nav li:nth-child(6n+4) a:focus {
        background: #1f78b0
    }

    .no-touch .nav li:nth-child(6n+5) a:hover,.no-touch .nav li:nth-child(6n+5) a:active,.no-touch .nav li:nth-child(6n+5) a:focus {
        background: #27465a
    }

    .no-touch .nav li:nth-child(6n+6) a:hover,.no-touch .nav li:nth-child(6n+6) a:active,.no-touch .nav li:nth-child(6n+6) a:focus {
        background: #203644
    }

    .nav ul li {
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        -o-transition: background .5s;
        -ms-transition: background .5s;
        transition: background .5s
    }
}

@media(min-width: 32.5em) and (max-width:49.938em) {
    .nav li {
        display:block;
        float: left;
        width: 50%
    }

    .nav a {
        padding: .8em
    }

    .nav li span,.nav li span.icon {
        display: inline-block
    }

    .nav li span.icon {
        width: 50%
    }

    .nav li .icon+span {
        font-size: 1em
    }

    .icon+span {
        position: relative;
        top: -0.2em
    }

    .nav li i {
        display: inline-block;
        padding: 8% 9%;
        border: 4px solid transparent;
        border-radius: 50%;
        font-size: 1.5em;
        background: rgba(255,255,255,0.1);
        -webkit-transition: border .5s;
        -moz-transition: border .5s;
        -o-transition: border .5s;
        -ms-transition: border .5s;
        transition: border .5s
    }

    .no-touch .nav li:hover i,.no-touch .nav li:active i,.no-touch .nav li:focus i {
        border: 4px solid rgba(255,255,255,0.1)
    }
}

@media(min-width: 32.5em) and (max-width:38.688em) {
    .nav li span.icon {
        width:50%
    }

    .nav li .icon+span {
        font-size: .9em
    }
}

.nav .navtoogle {
    display: none;
    width: 100%;
    padding: .5em .5em .8em;
    font-family: 'Lato',Calibri,Arial,sans-serif;
    font-weight: normal;
    text-align: left;
    color: #07100f;
    font-size: 1.2em;
    background: 0;
    border: 0;
    border-bottom: 4px solid #ddd;
    cursor: pointer
}

.navtoogle i {
    z-index: -1
}

.icon-menu {
    position: relative;
    top: 3px;
    line-height: 0;
    font-size: 1.6em
}

@media(max-width: 32.438em) {
    .nav .navtoogle {
        margin:0;
        display: block
    }

    .no-js .nav ul {
        max-height: 30em;
        overflow: hidden
    }

    .js .nav ul {
        max-height: 0;
        overflow: hidden
    }

    .js .nav .active+ul {
        max-height: 30em;
        overflow: hidden;
        -webkit-transition: max-height .4s;
        -moz-transition: max-height .4s;
        -o-transition: max-height .4s;
        -ms-transition: max-height .4s;
        transition: max-height .4s
    }

    .nav li span {
        display: inline-block;
        height: 100%
    }

    .nav a {
        padding: .5em
    }

    .icon+span {
        margin-left: 1em;
        font-size: .8em
    }

    .nav li:nth-child(6n+1) {
        border-left: 8px solid #ae4e01
    }

    .nav li:nth-child(6n+2) {
        border-left: 8px solid #bf7514
    }

    .nav li:nth-child(6n+3) {
        border-left: 8px solid #0d6f96
    }

    .nav li:nth-child(6n+4) {
        border-left: 8px solid #0a4b75
    }

    .nav li:nth-child(6n+5) {
        border-left: 8px solid #10222c
    }

    .nav li:nth-child(6n+6) {
        border-left: 8px solid #091219
    }

    .touch .nav a {
        padding: .8em
    }
}
